.NavBar {
    margin: 0px;
    padding: 20px;
    margin-left: 530px;
    width: 600px;
    text-align: center;
    background-color: rgb(210, 185, 255);
}

.NavBar a {
    margin: 50px;
    padding: 12px;
    border: thin solid purple;
    color: rgba(225, 10, 100, 60);
    background-color: rgba(205, 225, 255, 255);
}

.NavBar a.active {
    color: rgba(75, 10, 200, 90);
}